@charset "utf-8";
/* CSS Document */

body {
	background: linear-gradient(rgba(116,64,139,1), rgba(53,34,61,1));
	background-attachment: fixed;
	color: rgba(242,226,196,1);
	font-family: myriad-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

.header {
	background-color: rgba(242,226,196,1);
	color: rgba(116,64,139,1);
	width: 100%;
	height: 10%;
	position: sticky;
}

#nav_bar .nav_button {
	display:inline;
	color: rgba(242,226,196,1);
	font-size: 28px;
}

#nav_bar p {
	display:inline;
	font-size: 14px;
}